.hg-theme-default .letters-correct {
	background: rgba(9, 133, 35, 0.7);
  	color: black;
}

.hg-theme-default .letters-wrong-position {
	background: rgba(218, 221, 14, 0.7);
	color: black;
}

.hg-theme-default .letters-not-used {
	background: rgba(92, 92, 92, 0.7);
	color: black;
}