.statisticsWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	h3 {
		font-size: 1.5em;
		margin-top: 0;
	}

	.endGameMessage {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0 0 1.75em;
		width: 100%;

		.theWord {
			font-size: 2em;
			font-weight: bold;
			padding-bottom: 0.5em;
		}

		.message {
			font-size: 1.5em;
		}
	}

	.button {
		width: 100%;
	}
}